<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="JobServer3Camadas" value="false" />
		<add key="Port" value="8050" />
		<add key="Host" value="BHD000000407" />
		<add key="ActionsPath" value="C:\totvs\CorporeRM\RM.Net;C:\totvs\CorporeRM\Corpore.Net\Bin" />
		<add key="LibPath" value="C:\totvs\CorporeRM\RM.Net" />
		<add key="EnableDynamicLocalization" value="false" />
		<add key="EnableCompression" value="false" />
		<add key="LocalizationLanguage" value="pt-BR" />
	</appSettings>
	<runtime>
		<NetFx40_LegacySecurityPolicy enabled="true" />
		<generatePublisherEvidence  enabled="false" />
		<loadFromRemoteSources enabled="false" />
	</runtime>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>