<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="JobServer3Camadas" value="false" />
		<add key="Port" value="8050" />
		<add key="Host" value="BHD000000407" />
		<add key="ActionsPath" value="C:\totvs\CorporeRM\RM.Net;C:\totvs\CorporeRM\Corpore.Net\Bin" />
		<add key="LibPath" value="C:\totvs\CorporeRM\RM.Net" />
		<add key="EnableDynamicLocalization" value="false" />
		<add key="EnableCompression" value="false" />
		<add key="LocalizationLanguage" value="pt-BR" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="RM.Lib" publicKeyToken="07476f67c5ed04a4" culture="neutral">
					<codeBase version="12.1.4.1" href="C:\totvs\CorporeRM\RM.Net\RM.Lib.dll" />
				</assemblyIdentity>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>